<p *ngIf="isHost && clientUser">Matched {{clientUser.userName}}</p>
<p *ngIf="!isHost && hostUser">Matched {{hostUser.userName}}</p>
<p *ngIf="location">Location id: {{location.name}}</p>
<p *ngIf="isHost">Pin: {{session.pin}}</p>
<div *ngIf="!isHost">
  <div *ngIf="!isHost" class="form group">
    <label for="pin">Host Pin Entry</label>
    <input [(ngModel)]="pin" type="number" class="form-control" id="pin" required>
    <button type="submit" (click)="joinSession()" class="btn btn-success">
      Join
    </button>
  </div>
</div>
<button>Cancel</button>
