<div class="card">
  <h3 class="card-title text-center">Preferences</h3>
  <app-preference-detail
    [preference]="locationPreference"
    (optionUpdated)="handleOptionUpdated($event, locationPreference)">
  </app-preference-detail>
  <app-preference-detail
    [preference]="genderPreference"
    (optionUpdated)="handleOptionUpdated($event, genderPreference)">
  </app-preference-detail>
  <app-preference-detail
    [preference]="dietPreference"
    (optionUpdated)="handleOptionUpdated($event, dietPreference)">
  </app-preference-detail>
  <app-preference-detail
    [preference]="interestsPreference"
    (optionUpdated)="handleOptionUpdated($event, interestsPreference)">
  </app-preference-detail>
</div>
