.normal-button {
  margin-bottom: 10px;
  background-color: lightseagreen;
  height: 30px;
  color: white;
  margin-bottom: 3px;
  margin-left: 7px;
  line-height: 0px;
}

.so {
  margin-bottom: 10px;
  background-color: lightseagreen;
  height: 40px;
  color: white;
  margin-bottom: 3px;
  margin-left: 7px;
  line-height: 0px;
  border-color: lightseagreen;
  border-radius: 0px;
  line-height: 20px;
}
