<nav class="navbar">
  <ul class="nav nav-pills nav-fill w-100 align-items-start">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/munch-setup">Munch!</a>
    </li>
    <li *ngIf="loggedIn" class="nav-item">
      <a class="nav-link" routerLink="/settings">{{userName}}</a>
    </li>
    <li *ngIf="!loggedIn" class="nav-item">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
  </ul>
</nav>
