<h2 *ngIf="location">Enjoy your munch at {{ location.name }}</h2>
<div *ngIf="interests" class="box">
  <h3>Here's what you two have in common.</h3>
  <h4>Start a conversation!</h4>
  <div class="tags" *ngFor="let interest of interests" >
    <span class="tag is-primary is-large">{{ interest.name }}</span>
  </div>
</div>

<div class="description">
  <div class="h6">
    <div class="i">You've matched with
      <ng-container *ngIf="!isHost && clientUser">
        {{ clientUser.userName }}!
      </ng-container>
      <ng-container *ngIf="isHost && hostUser">
        {{ hostUser.userName }}!
      </ng-container>
    </div>
  </div>
  <div class="p box">Here's how they've described themselves:<br/>
    <ng-container *ngIf="!isHost && clientUser">{{ hostDescription  }}</ng-container>
    <ng-container *ngIf="isHost && hostUser">{{ clientDescription }}</ng-container>
  </div>
</div>

  <button (click)="leaveSession()" type="button" class="btn btn-danger">
    Close
  </button>



<!--<div class="w1">-->
  <!--<angular-tag-cloud-->
    <!--[data]="data"-->
    <!--[width]="options.width"-->
    <!--[height]="options.height"-->
    <!--[overflow]="options.overflow">-->
  <!--</angular-tag-cloud>-->
<!--</div>-->






