
<!--Place Holders-->
<div class = "box">
<div class="tags">
  <span class="tag is-primary is-large">Hiking</span>
  <span class="tag is-warning">Art</span>
  <span class="tag is-danger is-medium">Singing</span>
  <span class="tag is-light">Cooking</span>
  <span class="tag is-dark">Sports</span>
  <span class="tag is-medium">Black Liberation</span>
  <span class="tag is-link">Reading</span>
  <span class="tag is-info">Hiphop</span>

</div>
</div>

<div>
  <angular-tag-cloud
    [data]="data"
    [width]="options.width"
    [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
</div>


<div id="button">
  <button type="button" class="btn btn-danger">Leave</button>
</div>




