
<h2><b>What are you interested in?</b></h2>
<br>
<div *ngIf="interests && interestSelections.length !== 0" class="container">
  <div *ngFor="let interest of interests; let i=index">
    <mat-checkbox
      [(checked)]="interestSelections[i].selected"
      (change)="toggleInterest(i, $event)">
      {{interest.name}}
    </mat-checkbox>
  </div>
  <br>
 <!-- <h4><b>What is your Gender</b></h4>
  <mat-button-toggle-group [vertical]="true" [(ngModel)]="selectedGender">
    <mat-button-toggle *ngFor="let gender of genders;" [value]="gender">
      {{gender}}
    </mat-button-toggle>
  </mat-button-toggle-group> -->
  <br>
  <br>
  <button class="btn btn-success" (click)="updateInterests()">Update</button>
  <button class="btn btn-danger" routerLink="/profile">Return</button>
</div>
