<div class="container">
  <form (ngSubmit)="createShoutOut()" #register="ngForm">
    <h2>Create Shout Out</h2>
    <fieldset>
      <div class="form-group">
        <label for="message">Message</label>
        <input type="text" id="message" name="message" class="form-control"
               required
               [(ngModel)]="shoutout.message">
      </div>

      <button type="submit" class="btn btn-success"
              [disabled]="!register.form.valid">Create</button>
    </fieldset>
  </form>
</div>
