<form>
  <h1>Munch</h1>
  <h2>Hobbies & Interests</h2>

  <fieldset>
    <label class="checkbox-container">Gaming
      <input type="checkbox" value="Gaming">
      <span class="checkmark"></span>
    </label>
    <label class="checkbox-container">Football
      <input type="checkbox" value="Football">
      <span class="checkmark"></span>
    </label>
    <label class="checkbox-container">Kanye West
      <input type="checkbox" value="Kanye West">
      <span class="checkmark"></span>
    </label>
    <label class="checkbox-container">Beyoncé
      <input type="checkbox" value="Beyoncé">
      <span class="checkmark"></span>
    </label>
    <label class="checkbox-container">Networking
      <input type="checkbox" value="Networking">
      <span class="checkmark"></span>
    </label>
    <label class="checkbox-container">Extra Curriculars
      <input type="checkbox" value="Extra Cirriculars">
      <span class="checkmark"></span>
    </label>
    <label class="checkbox-container">New Friends
      <input type="checkbox" value="New Friends">
      <span class="checkmark"></span>
    </label>
  </fieldset>

  <a class="small-back-button" href="/">x</a>
</form>
