<div>
  <h3 class="black-text">Munch Setup</h3>
  <div class="state-1 centered">
    What are you hungry for? (Choose one)
    <mat-button-toggle-group [vertical]="true" [(ngModel)]="selectedLocation">
      <mat-card  *ngFor="let location of locations">
        <mat-card-header>
            <div class="text">
            <b>{{location.name}}</b>
          </div>
        </mat-card-header>
       <!-- <div class="img"> -->
        <img mat-card-image src={{location.picUrl}}>
        <!-- </div> -->
        <mat-card-actions>
        <mat-radio-button aria-label="" [value]="location"></mat-radio-button>
        </mat-card-actions>
      </mat-card>
      <br><br>
    </mat-button-toggle-group>
  </div>

  <div class="state-2 inactive centered">
    <h4>I want to eat with someone whose diet is...</h4>
    <mat-button-toggle-group [vertical]="true" [(ngModel)]="selectedDiet">
      <mat-button-toggle *ngFor="let diet of diets;" [value]="diet">
        {{diet}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="state-3 inactive centered" style="text-align: center">
    <h4>I prefer to eat with...</h4>
    <mat-button-toggle-group [vertical]="true" [(ngModel)]="selectedGender">
      <mat-button-toggle *ngFor="let gender of genders;" [value]="gender">
        {{gender}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="state-4 inactive centered">
    Describe your outfit in a few words:
      <textarea title="description" matInput matTextareaAutosize [(ngModel)]="description"></textarea>
  </div>

  <div class="state-5 inactive centered">
    Ready to meet your match?
    <button (click)="createRequest()">Start Searching!</button>
  </div>

  <div class="lower-navigation-bar back-button">
    <span class="lower-navigation-bar-button">
      <a class="button-text" role="button" (click)="decrementState()">Back</a>
    </span>
    <span class="lower-navigation-bar-button">
      <a class="button-text" routerLink="/profilegit " role="button">Profile</a>
    </span>
    <span class="lower-navigation-bar-button next-button">
      <a class="button-text" role="button" (click)="incrementState()">Next</a>
    </span>
    <div>
    </div>
  </div>
</div>
