.munch-setup {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

.w-100 {
  margin-bottom: 10px;
  background-color: lightseagreen;
  border-color: lightseagreen;
  height: 50px;
  line-height: 30px;
  color: white;
}

.search-field {
  border: none;
}

.friend-button {
  background: whitesmoke;
  border: none;
  color: black;
}

.lower-navigation-bar {
  background-color: lightseagreen;
  color: white;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid lightseagreen;
  display: flex;
  justify-content: center;
}

.lower-navigation-bar-button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
}
.button-text {
  color: white;
}

.inactive {
  display: none;
}

.greyed-out {
  color: darkgray;
}

.img {
  background-size: cover;
  margin: fill;
}

.text {
  z-index: 1.5;
  color: whitesmoke;
  text-align: center;
  font-size: 30px;
  position: absolute;
  padding: auto;
  font-family: Skia, serif;
}

mat-form-field.mat-form-field {
  font-size: 20px;
  color: black;
  resize: vertical;
}


.textfield {
  width: 100%;
  height: 200px;
  padding: 5px;
}
