<button (click)="check()">Check</button>
<div class="munch-setup">
  <h5 class="black-text">Munch Setup</h5>
  <div class="state-1">
    What are you hungry for? (Choose one)
    <mat-button-toggle-group style="width: 100%" [vertical]="true" [(ngModel)]="selectedLocation">
      <mat-card class="image-button" *ngFor="let location of locations">
        <mat-card-header>
          <mat-card-title>{{location.name}}</mat-card-title>
        </mat-card-header>
        <mat-button-toggle aria-label="" [value]="location">Select</mat-button-toggle>
      </mat-card>
    </mat-button-toggle-group>
  </div>

  <div class="state-2 inactive">
    My diet is (Choose one)....
    <mat-radio-group [(ngModel)]="selectedDiet">
      <mat-radio-button *ngFor="let diet of diets;" [value]="diet">
        {{diet}}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="state-3 inactive">
    I prefer to eat with...
    <mat-radio-group [(ngModel)]="selectedGender">
      <mat-radio-button *ngFor="let gender of genders;" [value]="gender">
        {{gender}}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="state-4 inactive">
    Describe your outfit in a few words
  </div>

  <div class="state-5 inactive">
    Ready to meet your match?
    Start!
  </div>
  <div class="lower-navigation-bar back-button">
    <span class="lower-navigation-bar-button">
      <a class="button-text" role="button" (click)="decrementState()">Back</a>
    </span>
    <span class="lower-navigation-bar-button">
      <a class="button-text" routerLink="/homepage" role="button">Home</a>
    </span>
    <span class="lower-navigation-bar-button next-button">
      <a class="button-text" role="button" (click)="incrementState()">Next</a>
    </span>
    <div>
    </div>
  </div>
</div>
