.munch-setup {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

.w-100 {
  margin-bottom: 10px;
  background-color: lightseagreen;
  border-color: lightseagreen;
  height: 50px;
  line-height: 30px;
  color: white;
}

.search-field {
  border: none;
}

.friend-button {
  background: whitesmoke;
  border: none;
  color: black;
}

.lower-navigation-bar {
  background-color: lightseagreen;
  color: white;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid lightseagreen;
  display: flex;
  justify-content: center;
}

.lower-navigation-bar-button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
}
.button-text {
  color: white;
}

.inactive {
  display: none;
}

.greyed-out {
  color: darkgray;
}
