<div class="munch-setup">
  <h5 class="black-text">Munch Setup</h5>
  <div class="state-1 current">
    What are you hungry for? (Choose one)
    <div class="image-button" *ngFor="let location of locations">
      {{location.name}}
    </div>
  </div>

  <div class="state-3">
    My diet is (Choose one)....
    <div class="image-button" *ngFor="let diet of diets">
      {{diet.name}}
    </div>
  </div>

  <div class="state-4">
    I prefer to eat with...
    xyz
  </div>

  <div class="state-5">
    Describe your outfit in a few words
  </div>

  <div class="state-6">
    Ready to meet your match?
    Start!
  </div>
  <div class="lower-navigation-bar">
    <span class="lower-navigation-bar-button">
      <a class="button-text" role="button" (click)="decrementState()">Back</a>
    </span>
    <span class="lower-navigation-bar-button">
      <a class="button-text" routerLink="/dashboard" role="button">Home</a>
    </span>
    <span class="lower-navigation-bar-button">
      <a class="button-text" role="button" (click)="incrementState()">Next</a>
    </span>
    <div>
    </div>
  </div>
</div>
