<div class="container">
  <h2>Register</h2>
  <form #register="ngForm" name="form" novalidate
        (ngSubmit)="register.form.valid && registerUser()">
    <fieldset>
      <div class="form-group">
        <label for="userName">Username</label>
        <input type="text" class="form-control" id="userName" name="userName"
               required [(ngModel)]="user.userName" #userName="ngModel">
      </div>
      <div *ngIf="register.submitted && !userName.valid" class="description">Required</div>

      <!--<div class="form-group">-->
        <!--<label for="firstName">First Name</label>-->
        <!--<input type="text" class="form-control" id="firstName" required name="firstName"-->
               <!--[(ngModel)]="user_id.firstName" #firstName="ngModel">-->
      <!--</div>-->
      <!--<div *ngIf="register.submitted && !firstName.valid" class="description">Required</div>-->

      <!--<div class="form-group">-->
        <!--<label for="lastName">Last Name</label>-->
        <!--<input type="text" class="form-control" id="lastName" required name="lastName"-->
               <!--[(ngModel)]="user_id.lastName" #lastName="ngModel">-->
      <!--</div>-->
      <!--<div *ngIf="register.submitted && !lastName.valid" class="description">Required</div>-->

      <!--<div class="form-group">-->
        <!--<label for="email">Email</label>-->
        <!--<input type="text" class="form-control" id="email" required name="email"-->
               <!--[(ngModel)]="user_id.email" #email="ngModel">-->
      <!--</div>-->
      <!--<div *ngIf="register.submitted && !email.valid" class="description">Required</div>-->

      <!--<div class="form-group">-->
        <!--<label for="phone">Phone</label>-->
        <!--<input type="text" class="form-control" id="phone" required name="phone"-->
               <!--[(ngModel)]="user_id.phone" #phone="ngModel">-->
      <!--</div>-->
      <!--<div *ngIf="register.submitted && !phone.valid" class="description">Required</div>-->

      <div class="form-group">
        <label for="password">Password (Howard ID Suggested)</label>
        <input type="text" class="form-control" id="password" required name="password"
               [(ngModel)]="user.password" #password="ngModel">
      </div>
      <div *ngIf="register.submitted && !password.valid" class="description">Required</div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Register</button>
        <div *ngIf="loading" class="description">Loading</div>
        <a [routerLink]="['/login']" class="btn btn-link">
          <button [disabled]="loading" class="btn btn-primary">Cancel</button>
        </a>
      </div>
    </fieldset>
  </form>
</div>
