

<div>

  <div  class="mx-auto" style="width: 200px;">
    <h3>Which topics interests you?</h3>

    <form action="">
      <input type="checkbox">Hiking<br>
      <input type="checkbox">Art<br>
      <input type="checkbox">Singing<br>
      <input type="checkbox">Cooking<br>
      <input type="checkbox">Play Sports<br>
      <input type="checkbox">Black Liberation<br>
      <input type="checkbox">Reading<br>

      <input type="submit" routerLink="/profile" value="Submit">
    </form>

    <br>

    <button class="btn btn-primary" routerLink="/profile">Back</button>



  </div>

</div>


