

<div>

  <div  class="mx-auto" style="width: 200px;">
    <h3>What type of Food do you like?</h3>

    <form action="">
      <input type="checkbox">Vegan<br>
      <input type="checkbox">Vegetarian<br>
      <input type="checkbox">Soul Food<br>
      <input type="checkbox">Healthy<br>
      <input type="checkbox">West African<br>
      <input type="checkbox">Caribbean<br>
      <input type="checkbox">Italian<br>

      <input type="submit" routerLink="/profile" value="Submit">
    </form>

    <br>

    <button class="btn btn-primary" routerLink="/profile">Back</button>



  </div>

</div>


