

<div>

  <div  class="mx-auto" style="width: 200px;">
    <h3>Music Interest</h3>

    <form action="">
      <input type="checkbox">Kanye West<br>
      <input type="checkbox">NoName<br>
      <input type="checkbox">Robert Glasper<br>
      <input type="checkbox">Jazz<br>
      <input type="checkbox">Wolfgang Amadeus Mozart<br>

      <input type="submit" routerLink="/profile" value="Submit">
    </form>

    <br>

    <button class="btn btn-primary" routerLink="/profile">Back</button>



  </div>

</div>


