.big-button {
  margin-bottom: 10px;
  background-color: lightseagreen;
  border-color: lightseagreen;
  height: 50px;
  color: white;
  width: 100%;
  margin-left: 95px;
  margin-top: 100px;
  width: 200px;
}
