

<div>
  <div  class="mx-auto" style="width: 200px;">
    <h3>Profile</h3>
    <button routerLink="/profile/interests">interests</button>
    <a [routerLink]="['/login']" class="btn btn-link">
      <button (click)=logout() class="btn btn-primary big-button">Log Out</button>
    </a>
    <form action="/action_page.php">
      New Username: <input type="text" name="fname"><br>
      New Password: <input type="text" name="lname"><br>
      <button class="btn btn-primary" routerLink="/profile/diets">Diet Preference</button>
      <br>
      <button class="btn btn-primary" routerLink="/profile/interests">Interests</button>
      <br>
      <button class="btn btn-primary">Update</button>
      <br>
      <input type="submit" value="Submit">
    </form>
    <br>
    <button class="btn btn-primary" routerLink="/homepage">Back</button>
  </div>
</div>
