

<div>


  <div  class="mx-auto" style="width: 200px;">
    <h3>Profile</h3>

    <form action="/action_page.php">
      New Username: <input type="text" name="fname"><br>
      New Password: <input type="text" name="lname"><br>
      <button class="btn btn-primary" routerLink="/musicaf">Music Preference</button>
      <br>
      <button class="btn btn-primary" routerLink="/foodaf">Food Preference</button>
      <br>
      <button class="btn btn-primary" routerLink="/interests">Interests</button>
      <br>
      <button class="btn btn-primary">Update</button>
      <br>
      <input type="submit" value="Submit">
    </form>

    <br>

    <button class="btn btn-primary" routerLink="/homepage">Back</button>

  </div>

</div>


