<h2><b>What are you interested in?</b></h2>
<br>
<div *ngIf="interests && interestSelections.length !== 0" class="container">
  <div *ngFor="let interest of interests; let i=index">
    <mat-checkbox
      [(checked)]="interestSelections[i].selected"
      (change)="toggleInterest(i, $event)">
      {{ interest.name }}
    </mat-checkbox>
  </div>
  <br>
  <br>
  <br>
  <div class="centered">
  <button class="btn btn-success" (click)="updateInterests(); openSnackBar()" >Update</button>
  <button class="btn btn-danger" routerLink="/munch/setup">Return</button>
  </div>
</div>
